{
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"singleQuote": true,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.json",
			"options": {
				"useTabs": false
			}
		}
	]
}
