---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Dan mentalnog zdravlja</h2>
		<p>
			<span>Međunarodni Dan mentalnog zdravlja je 10. otkobar.</span> Na ovaj dan
			je potrebno da se podsetimo koliko je mentalno zdravlje značajno za svakodnevno
			funkcionisanje, kada treba sesti nasamo sa sobom i proveriti da li je naše
			mentalno telo gladno, da li se razvija u željenom pravcu, da li nas nešto boli.
		</p>
		<p>
			Mentalna bolest je zdravstveni problem koji u značajnoj meri slabi
			mogućnosti osobe da misli, oseća i dela, izaziva stres i osujećuje
			funksionisanje osobe u važnim životnim oblastima. Mentalna bolest ima
			mnogo imena, klasifikacija, načina prezentovanja, ali zapravo je jedno
			zajedničko: koči osobu da ostvari svoje potencijale, da bude zadovoljna
			sobom, svetom oko sebe, funkcioniše u društvu…
		</p>
		<p>
			Razlika koju pravimo između mentalnog i fizičkog je ovde najočiglednija.
			Kad je nečija bolest povezana sa telesnim, iskazujemo žaljenje, nudimo
			podršku, posećujemo u bolnici, imamo mnogo razumevanja, strpljenja i besni
			smo na bolest koja je zahvatila našeg rođaka, prijatelja, poznanika. Ali
			kada je neko mentalno bolestan? Uplašimo se, sklonimo se, zažmurimo, ne
			razumemo, nemamo strpljenja.
		</p>
		<p>
			Da li ste znali da se, kada doživimo socijalno odbacivanje, aktiviraju
			isti receptori mozga kao i kada doživimo fizičku povredu? Usamljenost
			boli. Ljudima koji imaju mentalni problem je podrška potrebna, a upravo su
			za to uskraćeni. Mentalna bolest nije zarazna, ali ravnodušnost jeste.
		</p>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}
</style>
