---
import BulletList from '../../components/BulletList.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Očuvanje mentalnog zdravlja</h2>
		<p>
			Kad kažemo zdravlje, uglavnom mislimo na fizičko, telesno zdravlje.
			Zanemarujemo njegov bitan deo - mentalni. Kao što telo treba zdravo
			hraniti, razvijati, odmarati, negovati, tako i psihu treba hraniti,
			razvijati, lečiti. Mentalno zdravlje je stanje blagostanja, u kome osoba
			ostvaruje ili koristi svoje sposobnosti i potencijale, može da se nosi sa
			stresorima svakodnevnog života, radi produktivno i ostvaruje doprinos
			društvu.
		</p>
		<p>
			Zaštita i očuvanje mentalnog zdravlja obuhvataju sve mere i aktivnosti
			usmerene na uspostavljanje i održanje psihičkog blagostanja. Te mere su
			vezane za promociju i unapređenje mentalnog zdravlja, kao i prevenciju
			koja obuhvata rano prepoznavanje, lečenje i rehabilitaciju poremećaja
			ponašanja i duševnih/mentalnih poremećaja.
		</p>
		<p><span>Promocija mentalnog zdravlja podrazumeva:</span></p>
		<BulletList>
			<li>
				Aktivnosti koje su u vezi sa boljim razumevanjem mentalnog zdravlja i
				podizanjem svesti o njegovom značaju za sveobuhvatno zdravlje i dobrobit
				pojedinca – informisanje i edukovanje;
			</li>
			<li>
				Razumevanje značaja mentalnog zdravlja i pojave duševnih/mentalnih
				poremećaja, borbu protiv stigme i diskriminacije u oblasti mentalnog
				zdravlja;
			</li>
			<li>
				Realizaciju aktivnosti koje unapređuju mentalno zdravlje jačanjem
				zaštitnih faktora i umanjenjem tj. eliminacijom onih faktora koji ga
				narušavaju
			</li>
		</BulletList>
		<p><span>Prevencija duševnih poremećaja podrazumeva:</span></p>
		<BulletList>
			<li>
				<div>
					<span>Primarnu prevenciju</span> usmerenu na smanjenje pojave duševnih/mentalnih
					poremećaja tj. suzbijanje faktora rizika i istovremeno jačanje zaštitnih
					faktora (naročito kada su u pitanju ranjive grupe i pojedinci);
				</div>
			</li>
			<li>
				<div>
					<span>Sekundarnu prevenciju</span> koja se bavi poboljšanjem odgovora na
					javljanje duševnih bolesti, prvenstveno ranim otkrivanjem i brzim početkom
					lečenja;
				</div>
			</li>
			<li>
				<div>
					<span>Tercijarnu prevenciju</span> usmerenu na smanjenje posledica bolesti
					i njene težine. To se postiže raznim vrstama rehabilitacije (medicinska,
					radna, socijalna...), kao i brigom za podizanje opšteg kvaliteta života.
				</div>
			</li>
		</BulletList>
		<p>
			U svim ovim aktivnostima uloga multisektorskog, stručnog pristupa je od
			velikog značaja. Takođe, važna je i uloga volonterskih organizacija,
			kojima se građani lakše obraćaju, zbog mogućnosti anonimnog i poverljivog
			razgovora, izbegavanja dugotrajnih i komplikovanih zdravstvenih procedura
			i mnogih drugih razloga. Pomoć volontera ne može da nadomesti ulogu
			stručne pomoći, ali može da pomogne u trenucima krize i nedostatka
			adekvatne podrške okoline.
		</p>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}

	span {
		color: var(--color-brand);
		font-weight: bold;
	}

	div {
		border: 2px solid var(--color-brand);
		border-radius: 8px;
		padding: 4px;
	}
</style>
