---
import Layout from '../../layouts/Layout.astro';
import BulletList from '../../components/BulletList.astro';
import InlineLink from '../../components/InlineLink.astro';

// TODO: Add link to brochure.
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Prevencija</h2>
		<p>
			Efikasna prevencija samoubistva podrazumeva široki, multisektorski pristup
			koji uključuje, ne samo ulogu zdravstvenog sektora, već i angažovanje
			različitih društvenih struktura i profesija, kao i neprofesionalce –
			volontere.
		</p>
		<p>
			Neke od konkretnih mera koje se predlažu za prevenciju samoubistva su
			sledeće:
		</p>
		<BulletList>
			<li>
				<span class="text-brand font-semibold"
					>Edukovanje osoblja primarne zdravstvene zaštite:</span
				> za rano identifikovanje i adekvatan pristup mentalnim poremećajima, koji
				su značajno povezani sa pojavom samoubistva, ali i edukovanje zaposlenih
				u školama, policiji i javnosti uopšte, o primećivanju i reagovanju na ponašanje
				koje ukazuje da osoba razmišlja o samoubistvu;
			</li>
			<li>
				<span class="text-brand font-semibold"
					>Kontrola pristupa sredstvima</span
				> kojima se suicid može izvršiti (kontrola posedovanja vatrenog oružja, prodaje
				pesticida, sedativa...);
			</li>
			<li>
				<span class="text-brand font-semibold"
					>Osnivanje centara za intervenciju u krizi,</span
				> koji su lako dostupni korisnicima (npr. SOS telefonske službe, psihološka
				savetovališta);
			</li>
			<li>
				<span class="text-brand font-semibold">Rad sa rizičnim grupama</span> (preživeli
				članovi porodice, adolescenti, zatvorenici...)
			</li>
		</BulletList>
		<p>
			Tokom poslednjih godina naročita pažnja se posvećuje značaju <span
				class="text-brand font-semibold">odgovornog izveštavanja medija</span
			> o samoubistvu - postoji čitav niz uputstava o tome kako bi mediji trebali,
			a kako ne bi trebali da izveštavaju o samoubistvu. Centar Srce je izradio <InlineLink
				>brošuru</InlineLink
			> u kojoj se nalaze uputstva o tome kako u medijima treba izveštavati o samoubistvu,
			u cilju njegove bolje prevencije. Svakako je potrebno izbegavati objavljivanje
			fotografija osoba koje su izvršile samoubistvo i mesta gde je izvršeno; izbegavati
			izveštavanje o detaljima upotrebljenog metoda, te senzacionalistički izveštavati
			o samoubistvu.
		</p>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}
</style>
