---
import Layout from '../../layouts/Layout.astro';
import BulletList from '../../components/BulletList.astro';
import InlineLink from '../../components/InlineLink.astro';
import { ROUTES } from '../../routes';

// TODO: Touch up link.
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Znaci upozorenja</h2>
		<p>
			Već je bilo reči o tome da je samoubistvo vrlo kompleksna pojava, koja
			zavisi od velikog broja faktora. Samim tim je i teško dati precizna
			određenja o pokazateljima suicidalnih namera.
		</p>
		<p>
			U literaturi se često navodi impulsivnost, kao jedna od karakteristika
			osoba koje su izvršile ili pokušale samoubistvo. Međutim, veliki broj
			pojedinaca koji su izvršili ili pokušali samoubistvo, prethodno su
			intenzivno razmišljali o tome, odlučujući se da li da to učine i
			planirajući kako, kada i gde. Zato je veoma važno znati da se znaci ovog
			procesa često mogu prepoznati – i da se može ponuditi ili potražiti pomoć.
			Istraživanja su pokazala da oko 80% ljudi koji izvrše samoubistvo neko
			vreme pre smrti mogu pokazivati neke od sledećih znakova:
		</p>
		<BulletList>
			<li>
				promene ličnosti – tužni su, povučeni, osetljivi, nervozni, umorni,
				neodlučni, bezvoljni, nekad uznemireni i hiperaktivni
			</li>
			<li>
				promene ponašanja – ne mogu da se skoncentrišu na posao, školu, redovne
				obaveze, nezainteresovani su za svoj izgled
			</li>
			<li>
				promene u spavanju – preterano dugo spavaju ili imaju nesanicu, bude se
				jako rano ujutru, imaju noćne more
			</li>
			<li>
				promene u navikama ishrane – nemaju apetita i malo, ili previše jedu
			</li>
			<li>
				gube interesovanje za prijatelje, seks, hobije, uopšte aktivnosti u
				kojima su ranije uživali
			</li>
			<li>mnogo brinu – o novcu, bolesti (pravoj ili umišljenoj)</li>
			<li>
				plaše se gubitka kontrole, da će „poludeti“, da će povrediti sebe ili
				druge
			</li>
			<li>opterećeni su osećanjem krivice, stida, samomržnje</li>
			<li>
				nemaju nade za budućnost – ‘nikad mi neće biti bolje, uvek ću se ovako
				osećati’
			</li>
			<li>zloupotrebljavaju droge ili alkohol</li>
			<li>
				nedavno su izgubili voljenu osobu (smrt, razvod, raskid…) ili nešto
				drugo što im je važno (posao, novac, status, samopouzdanje,
				samopoštovanje, veru, prijatelja…)
			</li>
			<li>
				sređuju svoje poslove, dugove, pozdravljaju se sa prijateljima i
				rodbinom, poklanjaju lične stvari
			</li>
			<li>
				imaju suicidalne impulse, ideje, izjave, planove, ranije pokušaje
				samoubistva
			</li>
			<li>
				ponašaju se na način koji može biti opasan (neoprezni su u saobraćaju,
				voze pod dejstvom alkohola…)
			</li>
			<li>
				bili su ili jesu žrtve zlostavljanja (psihičkog, fizičkog ili
				seksualnog)
			</li>
			<li>
				učestvuju u krivičnoj istrazi / odlaze u zatvor ili izlaze iz njega.
			</li>
		</BulletList>
		<p>
			Naravno, svaka od ovih karakteristika sama po sebi ne mora ništa da znači,
			ali kombinacija nekoliko njih često upućuje na to da postoji rizik da će
			osoba izvršiti samoubistvo. Ako ste zabrinuti za nekog i želite da mu
			pomognete, pročitajte stranicu '<InlineLink to={ROUTES.whatYouCanDo}
				>kako pomoći</InlineLink
			>'.
		</p>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}
</style>
