---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h1 class="text-brand text-4xl font-bold">Donacije</h1>
		<p>
			Svakih 19 sati u Vojvodine jedna osoba izvrši suicid. Naša zemlja se
			nalazi pri vrhu rang liste kada je u pitanju stopa suicida u Evropi. Ovaj
			društveni problem pogađa sve uzrasne grupe, međutim zabrinjavajuće je da
			je ono u porastu među mladima, odnosno da je drugi uzrok smrti, kod
			starosne grupe od 15 do 30 godina, upravo samoubistvo.
		</p>
		<p>
			Mnoge od ovih smrti mogle bi biti sprečene ako bi osoba u trenucima krize
			osetila pomoć i podršku. Utisak da nismo sami u najtežim trenucima, pruža
			utehu i daje snagu da nastavimo dalje.
		</p>
		<p>
			Centar „Srce“ tokom godine odgovori na oko 8000 poziva, mejlova i četova
			osoba koje prolaze kroz krizu. Međutim broj onih kojima je potrebna pomoć
			je mnogo veći.
		</p>
		<p>
			Želeli bismo da budemo dostupni za veći broj ljudi kojima je potrebna
			podrška i pomoć. Da bismo to ostvarili moramo da uložimo u obuku novih
			volontera, kvalitetniju opremu (telefone i računare), kao i same prostorne
			resurse.
		</p>
		<p>
			Verujemo da je prevencija samoubistva stvar svih nas i da jedino
			zajedničkim delovanjem možemo napraviti vrednu promenu.
		</p>
		<p>Svoju donaciju možete uplatiti na žiro račune:</p>
		<p class="bg-brand/25 rounded-lg border p-2 shadow-lg">
			dinarski račun 325-9500600063672-27, OTP Banka a.d., Novi Sad, Trg Slobode
			5
		</p>
		<p class="bg-brand/25 rounded-lg border p-2 shadow-lg">
			devizni račun 20-305-0000030, ProCredit Bank a.d., Novi Sad, Bulevar Cara
			Lazara 76
		</p>
		<p>
			Ukoliko smatrate da nam na neki drugi način možete pomoći pišite nam na
			mail adresu: <a
				href="mailto:office@centarsrce.org"
				class="text-brand font-medium underline"
			>
				office@centarsrce.org
			</a>.
		</p>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}
</style>
