---
import Layout from '../layouts/Layout.astro';
import InlineLink from '../components/InlineLink.astro';
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Faktori rizika</h2>
		<p>
			Samoubistvo je složena pojava na koju utiče veliki broj činilaca. Ipak,
			suicidalni rizik je veći tamo gde postoji:
		</p>
		<ul class="list-image-[url(/bullet.png)] space-y-2 pl-8">
			<li>
				mentalni poremećaj, posebno depresija, potom šizofrenija, poremećaji
				ličnosti ili anksiozni poremećaj;
			</li>
			<li>alkoholizam i druge zavisnosti od psihoaktivnih supstanci;</li>
			<li>
				hronična ili neizlečiva telesna bolest, naročito ako je udružena sa
				neizdrživim bolovima i patnjom;
			</li>
			<li>
				psihička kriza (bilo da je izazvana gubitkom bliske osobe, prekidom
				emotivne veze, gubitkom posla, neuspehom u obrazovanju, porodičnim
				problemima itd, ili razvojnog karaktera - npr. adolescentska kriza);
			</li>
			<li>pretrpljena trauma ili zlostavljanje;</li>
			<li>raniji pokušaj samoubistva;</li>
			<li>samoubistvo člana porodice ili prijatelja.</li>
		</ul>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}
</style>
