---
import Layout from '../layouts/Layout.astro';
import InlineLink from '../components/InlineLink.astro';
import { ROUTES } from '../routes';
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Predrasude</h2>
		<p>
			Najveće prepreke u prevenciji suicida rezultat su neznanja. O samoubistvu
			se govori malo ili kroz sistem predrasuda - tako se suicidne osobe često
			percipiraju kao kukavice i slabići, grešnici, manipulatori i sl. Ovakvo
			socijalno obeležavanje (stigmatizacija) dodatno izaziva osećanja srama,
			straha i krivice kod suicidalnih osoba, što ih sputava da glasno zatraže
			pomoć. Socijalnim obeležavanjem pogođene su, ne samo suicidalne osobe, već
			svi koji imaju problema sa mentalnim zdravljem.
		</p>
		<p>
			Postoji potreba za promenom stava javnosti i povećanjem nivoa svesti o
			samom problemu i o tome da on može da se prevenira.
		</p>
		<p>U nastavku su navedene najčešće predrasude o samoubistvu:</p>
		<ul class="list-image-[url(/bullet.png)] space-y-2 pl-8">
			<li>
				Ako je neko jednom bio suicidalan, ostaće suicidalan zauvek.<br />
				<span class="font-bold">Netačno.</span>
				<span class="text-brand font-semibold"
					>Osobe koje žele da se ubiju mogu biti suicidalne i samo ograničeni
					vremenski period.</span
				>
			</li>
			<li>
				Ako je neko jednom pokušao samoubistvo, mnogo su manje šanse da će opet
				pokušati da se ubije.<br />
				<span class="font-bold">Netačno.</span>
				<span class="text-brand font-semibold"
					>Oko 80% svih izvršenih samoubistava desilo se nakon prethodnih
					pokušaja.</span
				>
			</li>
			<li>
				Ako je neko rešio da će da se ubije, ništa ga neće zaustaviti.<br />
				<span class="font-bold">Netačno.</span>
				<span class="text-brand font-semibold"
					>Ambivalencija (neodlučnost) u odnosu na život i smrt je izražena
					karakteristika suicidalnih pojedinaca. Mnogi od njih ne žele da umru
					već jednostavno žele da pobegnu iz nepodnošljive situacije iz koje ne
					vide ni jedan drugi izlaz.</span
				>
			</li>
			<li>
				Loša je ideja da osobu pitamo da li razmišlja o samoubistvu. Time bismo
				joj mogli dati ideju da razmišlja u tom pravcu.<br />
				<span class="font-bold">Netačno.</span>
				<span class="text-brand font-semibold"
					>Ljudi često misle da je sigurnije ne pričati o samoubistvu sa osobom
					koja razmatra tu opciju (ili za koju sumnjamo da pomišlja da digne
					ruku na sebe). Naprotiv, razgovor može pomoći suicidalnom pojedincu da
					obradi teška osećanja i smanji nepodnošljivu tenziju. Spremnošću da
					osobu saslušamo šaljemo poruku da nam je stalo i da želimo da
					pomognemo.</span
				>
			</li>
			<li>
				Osobe koje pričaju da će se ubiti neće nikad preći sa reči na delo, jer
				im je to samo način da manipulišu drugim ljudima. Oni koji izvršavaju
				samoubistvo inače ne govore o tome, već to jednostavno urade.<br />
				<span class="font-bold">Netačno.</span>
				<span class="text-brand font-semibold"
					>Većina ljudi koja je izvršila ili pokušala samoubistvo davala je na
					direktan ili indirektan način nagoveštaje svojoj okolini da razmatra
					tu opciju. Nema potrebe da krivite sebe ako niste primetili te znake,
					ali ako ste zabrinuti za nekoga koga znate, možete da se informišete o
					tome šta možete da učinite da <InlineLink to={ROUTES.whatYouCanDo}
						>pomognete.</InlineLink
					></span
				>
			</li>
			<li>
				Ako se depresivna ili suicidalna osoba bolje oseća, to znači da je
				problem prošao.<br />
				<span class="font-bold">Netačno.</span>
				<span class="text-brand font-semibold"
					>Ako neko ko je bio depresivan ili suicidalan odjednom deluje
					raspoloženije, ne mora da znači da je opasnost prošla. Osoba koja je
					čvrsto odlučila („prelomila”) da oduzme sebi život, može imati osećaj
					olakšanja zbog načinjene odluke. Takođe, ponekad se dešava da nakon
					prvih poboljšanja od depresije i povratka energije osoba konačno skupi
					snage i realizuje svoje suicidalne ideje.</span
				>
			</li>
		</ul>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}
</style>
