---
import Layout from '../layouts/Layout.astro';
import Highlight from '../components/Highlight.astro';
import InlineLink from '../components/InlineLink.astro';
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Veličina problema</h2>
		<p>
			Prema proceni <InlineLink to="http://www.who.int/"
				>Svetske zdravstvene organizacije</InlineLink
			>, godišnje u celom svetu umre oko 800.000 ljudi usled samoubistva. Suicid
			je jedan od najvećih svetskih javno zdravstvenih problema, ističe se u
			izveštajima Svetske zdravstvene organizacije. Činjenice koje zabrinjavaju
			su:
		</p>
		<Highlight>
			Procenjuje se da su pokušaji samoubistva oko 20 puta češći nego izvršena
			samoubistva.
		</Highlight>
		<Highlight>
			Iako su stope samoubistva tradicionalno bile najviše u populaciji starijih
			osoba muškog pola, stope suicida među mladim ljudima su u toj meri porasle
			da su oni postali grupa pod najvećim rizikom u jednoj trećini svih
			zemalja. Samoubistvo je drugi uzrok smrtnosti osoba među mladima između 15
			i 29 godine oba pola.
		</Highlight>
		<Highlight>
			Mentalni poremećaji (naročito depresija i zloupotreba psiho aktivnih
			supstanci) su povezani sa više od 90% svih slučajeva samoubistava.
			Međutim, ne treba izgubiti iz vida da je samoubistvo kompleksni fenomen
			koji je rezultat različitih sociokulturnih i ličnih faktora, te da se
			rizik od samoubistva povećava u periodima socioekonomskih, porodičnih i
			individualnih kriza (npr. gubitak voljene osobe, prekid emotivne veze,
			gubitak posla ili imovine, kriza identiteta i sl.).
		</Highlight>
		<h2 class="text-brand text-4xl font-bold">Situacija kod nas</h2>
		<p>
			U Srbiji je stopa samoubistva u 2020. godini iznosila 13,0 (broj
			samoubistava na 100.000 stanovnika) i nešto je viša od Evropskog proseka.
		</p>
		<p>
			Vojvodina je godinama bila regija sa izuzetno visokom stopom suicida, s
			najvišim vrednostima u ranim devedesetim, u periodu velike ekonomske krize
			u zemlji. Godine 1993. stopa suicida u Vojvodini iznosila je 34,3. Tokom
			2019. godine zabeležen je stopa samoubistva koja iznosi 15,7.
		</p>
		<p>
			U tabeli su predstavljene stope samoubistva od 2006. do 2020. godine u
			Srbiji. Izvor je Republički zavod za statistiku.
		</p>
		<div
			class="bg-brand/25 inline-block overflow-hidden rounded-lg border border-black shadow-lg"
		>
			<table>
				<tr>
					<th>Godina</th>
					<th>Broj<br />samoubistava</th>
					<th>Stopa samoubistva (broj<br /> samoubistava na 100.000 ljudi)</th>
				</tr>
				<tr><td>2006.</td><td>1444</td><td>19.5</td></tr>
				<tr><td>2007.</td><td>1354</td><td>18.0</td></tr>
				<tr><td>2008.</td><td>1290</td><td>18.0</td></tr>
				<tr><td>2009.</td><td>1376</td><td>18.8</td></tr>
				<tr><td>2010.</td><td>1209</td><td>16.6</td></tr>
				<tr><td>2011.</td><td>1256</td><td>17.4</td></tr>
				<tr><td>2012.</td><td>1245</td><td>17.3</td></tr>
				<tr><td>2013.</td><td>1198</td><td>16.7</td></tr>
				<tr><td>2014.</td><td>1134</td><td>15.9</td></tr>
				<tr><td>2015.</td><td>1064</td><td>15.0</td></tr>
				<tr><td>2016.</td><td>962</td><td>13.6</td></tr>
				<tr><td>2017.</td><td>1005</td><td>14.3</td></tr>
				<tr><td>2018.</td><td>949</td><td>13.6</td></tr>
				<tr><td>2019.</td><td>941</td><td>13.5</td></tr>
				<tr><td>2020.</td><td>895</td><td>13.0</td></tr>
			</table>
		</div>
		<p>
			Iako su ovi podaci koji govore o opadajućem trendu stope samoubistva u
			Srbiji ohrabrujući, nikako ne znači da je problem postao manje aktuelan.
		</p>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}

	table {
		border-collapse: collapse;
	}

	table tr {
		border-top: 1px solid black;
	}

	table tr:first-child {
		border-top: 0px;
	}

	table th,
	table td {
		border-left: 1px solid black;
	}

	table th:first-child,
	table td:first-child {
		border-left: 0px;
	}

	table th {
		padding: 5px;
	}

	table td {
		text-align: center;
		padding: 5px;
	}
</style>
