---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import volontiranje from '../assets/volontiranje.png';
---

<Layout>
	<section class="mx-auto my-10 max-w-[1080px] p-4">
		<h2 class="text-brand text-4xl font-bold">Volonteri</h2>
		<p>
			Trenutno “Srce” broji oko 40 aktivnih volontera, koji pružaju emotivnu
			podršku putem telefona, elektronske pošte i četa. To su osobe različite
			starosne dobi, zanimanja i interesovanja. Volonter/ka može biti svako ko
			je punoletan i ima vremena i želje da pomogne osobama u krizi. Potrebne
			veštine i znanja za rad u Centru, volonteri i volonterke su stekli
			prolaskom kroz selekciju i obuku. Volontiranje u Centru “Srce” je mnogima
			obogatilo život, a možda može obogatiti i vaš.
		</p>
		<h2 class="text-brand text-4xl font-bold">Obuka</h2>
		<p>
			Centar organizuje obuku novih volontera svake jeseni i svakog drugog
			proleća. Ta obuka se sastoji iz nekoliko delova: Selection day, Intervju,
			Radionice i Mentorski rad. Nakon svakog dela postoji evaluacija, kojom
			aktivni volonteri Centra odlučuju o prolasku potencijalnogna sledeći nivo
			obuke. Obuka se održava u Novom Sadu i zahteva fizičko prisustvo na
			radionicama. Neophodno je i da osoba bude punoletna (18+).
		</p>
		<p>
			Ukoliko zeliš da nam se pridružiš i ispunjavaš sve gore navedene uslove,
			možeš da se prijaviš <a
				href="https://docs.google.com/forms/d/e/1FAIpQLSegrUXpiXD31WXbfjVI4I9WJyRZBAdWolQMthrsoI5qmj4cyg/viewform?pli=1"
				target="_blank"
				class="text-brand font-medium underline"
			>
				ovde
			</a>
			<i>(prijave su otvorene samo u periodu pred obuku)</i>.
		</p>
		<p>
			Prijave počinju, najranije, dva do tri meseca pre početka obuke. A
			detaljnije i blagovremene novosti možeš pronaći na našim <a
				href="https://www.instagram.com/centarsrce/"
				class="text-brand font-medium underline"
			>
				društvenim mrežama</a
			>.
		</p>
		<Image class="mx-auto" height={600} src={volontiranje} alt="Podcast" />
		<h2 class="text-brand mb-6 text-4xl font-bold">Prava volontera</h2>
		<ul class="list-image-[url(/bullet.png)] space-y-2 pl-8">
			<li>
				Da se odabere po kvalitetima neophodnim za pružanje emotivne podrške
			</li>
			<li>
				Da mu se omogući da se obuči i stekne veštine i znanja neophodne za
				pružanje emotivne podrške
			</li>
			<li>
				Da mu se omogući supervizija od strane iskusnih volontera koje imenuje
				Centar
			</li>
			<li>
				Da dobije emotivnu podršku od drugih volontera i rukovodstva centra
			</li>
			<li>Da bude obavešten o principima rada Centra i svojim obavezama</li>
			<li>Da mu se omogući da radi u sigurnoj sredini.</li>
		</ul>
	</section>
</Layout>

<style>
	p {
		margin: 1rem 0;
	}
</style>
