---
import { Image } from 'astro:assets';
import befrienders from '../assets/befrienders.png';
import iasp from '../assets/iasp.png';
import facebook from '../assets/facebook.png';
import youtube from '../assets/youtube.png';
import twitter from '../assets/twitter.png';
import instagram from '../assets/instagram.png';
import playstore from '../assets/playstore.png';
---

<div id="links">
	<a href="https://www.befrienders.org/" target="_blank">
		<Image src={befrienders} alt="Befrienders" height="70" />
	</a>
	<a href="https://www.iasp.info/" target="_blank">
		<Image src={iasp} alt="IASP" height="70" />
	</a>
</div>

<footer>
	<div id="data">
		<div>
			<h2>Resursi</h2>
			<ul>
				<li><a href="#">Samoubistvo</a></li>
				<li><a href="#">Kako pomoći?</a></li>
				<li><a href="#">Mentalno zdravlje</a></li>
				<li><a href="#">Download</a></li>
				<li><a href="#">O nama</a></li>
				<li><a href="#">Vesti</a></li>
				<li><a href="#">Volontiranje</a></li>
				<li><a href="#">Donacije</a></li>
			</ul>
		</div>
		<div>
			<h2>Donacije</h2>
			<h3>Dinarski račun</h3>
			<p>325-9500600063672-27</p>
			<p>OTP Banka A.D.</p>
			<p>Trg Slobode 5, Novi Sad</p>
			<h3>Devizni račun</h3>
			<p>20-305-0000030</p>
			<p>ProCredit Bank a.d., ekspozitura Novi Sad</p>
			<p>Bulevar Cara Lazara 76</p>
		</div>
		<div>
			<h2>Kontakt</h2>
			<div id="contact">
				<p>Telefon</p>
				<p>021/6623 393</p>
				<p>Besplatan broj</p>
				<p>0800/ 300 303</p>
				<p>Email</p>
				<p>vanja@centarsrce.org</p>
				<p>Čet preko našeg sajta</p>
				<p>www.centarsrce.org</p>
				<p>Radno vreme</p>
				<p>svakog dana<br />od 14 do 23</p>
			</div>
		</div>
		<div>
			<h2>Mreže</h2>
			<ul>
				<li>
					<a
						href="https://www.facebook.com/Centar-Srce-117397131639928/"
						target="_blank"
						rel="noopener"
						>Facebook
					</a>
				</li>
				<li>
					<a
						href="https://www.youtube.com/user/centarsrce"
						target="_blank"
						rel="noopener"
					>
						YouTube
					</a>
				</li>
				<li>
					<a
						href="https://twitter.com/centarsrce"
						target="_blank"
						rel="noopener"
					>
						Twitter
					</a>
				</li>
				<li>
					<a
						href="https://instagram.com/centarsrce"
						target="_blank"
						rel="noopener"
					>
						Instagram
					</a>
				</li>
				<li>
					<a
						href="https://play.google.com/store/apps/details?id=com.centarsrce"
						target="_blank"
						rel="noopener"
					>
						Google Play
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="signature">
		<p>
			<a href="#">&copy 2016. Centar Srce</a>
			Design by <a href="mailto:mushusasa@gmail.com">Vanja & Mushu</a>
		</p>
	</div>
</footer>

<style>
	footer {
		background-color: #4d4d4d;
		color: #ffffff;
		font-size: 14px;
		padding: 16px 24px 0;
	}

	#data {
		display: flex;
		justify-content: center;
		gap: 24px;
		flex-wrap: wrap;
	}

	h2 {
		font-size: 14px;
		margin: 0 0 12px;
	}

	h3 {
		font-size: 14px;
		font-weight: 400;
		margin: 12px 0;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	a {
		text-decoration: none;
		font-size: 14px;
		color: #ffffff;
		transition-property: color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	a:hover {
		color: #8b60a6;
	}

	p {
		margin: 0;
	}

	#contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#contact p:nth-child(2n -1) {
		padding-right: 8px;
		border-right: 1px solid #ffffff;
	}

	#contact p:nth-child(2n) {
		margin-left: 8px;
	}

	#signature {
		padding-bottom: 4px;
	}

	#signature a {
		color: #8b60a6;
	}
</style>
