---
const { to, dark, disabled = !to } = Astro.props;
---

<a
	href={to}
	class:list={[
		'hover:text-brand transition-colors',
		dark ? 'text-white' : 'text-neutral',
		{ 'pointer-events-none cursor-not-allowed opacity-50': disabled },
	]}
>
	<slot />
</a>
