---
import Menu from '../assets/menu.svg';
import Logo from '../../public/favicon.svg';
import DonationButton from './DonationButton.astro';
import Link from './Link.astro';
import { ROUTES } from '../routes';

const brandColor = '#8b60a6';
const textColor = '#3d3d3d';
---

<header>
	<div id="header-content">
		<a href="/"><Logo id="logo" /></a>
		<DonationButton className="mr-4 ml-auto" />
		<input id="trigger" type="checkbox" />
		<label for="trigger">
			<Menu id="hamburger" />
		</label>
	</div>
	<nav>
		<ul>
			<li><Link to="/">Početna</Link></li>
			<li><Link>Samoubistvo</Link></li>
			<li><Link>Kako pomoći?</Link></li>
			<li><Link>Mentalno zdravlje</Link></li>
			<li><Link>Download</Link></li>
			<li><Link>O nama</Link></li>
			<li><Link to={ROUTES.news}>Vesti</Link></li>
			<li><Link to={ROUTES.volunteering}>Volontiranje</Link></li>
			<li><Link to={ROUTES.donations}>Donacije</Link></li>
			<li><Link>Podkast</Link></li>
		</ul>
	</nav>
</header>

<style define:vars={{ brandColor, textColor }}>
	@media (width >= 1170px) {
		header {
			display: none;
		}
	}

	header {
		background-color: white;
		border-bottom: 1px solid #e5e5e5;
		position: sticky;
		top: 0;
		z-index: 1;
	}

	#header-content {
		display: flex;
		align-items: center;
		padding: 16px 24px;
	}

	#logo {
		height: 32px;
		width: 32px;
	}

	#trigger {
		display: none;
	}

	label {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--brandColor);
		border-radius: 12px;
		background-color: white;
		color: var(--textColor);
		transition-property: background-color, color;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		cursor: pointer;
		user-select: none;
	}

	#trigger:checked ~ label {
		background-color: var(--brandColor);
		color: white;
	}

	#hamburger {
		height: 12px;
		width: 12px;
	}

	nav {
		display: none;
	}

	#header-content:has(#trigger:checked) ~ nav {
		display: block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 16px 24px;
	}

	li + li {
		margin-top: 8px;
	}
</style>
